<%= stylesheet_link_tag 'transaction', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="nav-btn">
<%= link_to 'Back', root_path, class: 'btn btn-secondary' %>
<%= link_to 'New category', new_category_path, class: 'btn btn-primary' %>
</div>

<div class="row">
  <% @categories.each do |category| %>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card">
        <div class="card-header">
          <b><%= link_to category.name, category_transactions_path(category) %></b>
        </div>
        <div class="card-body">
          <% category.transactions.each do |transaction| %>
          <div class="transaction-details float-right">
               <div class="card-details">
              <i class="icon <%= category.icon %>"></i> <!-- Added "icon" class and removed unnecessary <%= %>. -->
              </div>
              <div class="card-details">
                <p class= 'text-muted'>Description: <b><%= transaction.description %></b></p>
              </div>
              <div class="card-details">
                <p> Amount: <b> $<%= transaction.amount %></b></p>
              </div>
            </div>
              <%= link_to 'Delete Transaction', category_transaction_path(category, transaction), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-success mt-2' %>

          <% end %>
        </div>
        <div>

        <div class="button-links">
        <%= link_to 'New transaction', new_category_transaction_path(category), class: 'btn btn-primary' %>
        <%= link_to 'Delete Category', category_path(category), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-success' %>
      
      </div>
      </div>
    </div>
  <% end %>
</div>
